.container {
  padding: 78px 100px;
  display: flex;
  justify-content: space-between;
}

.subhead {
  margin: 32px 0;
  max-width: 244px;
  font-family: var(--font-sofia);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.head {
  margin: 42px 0;
  max-width: 380px;
  font-family: var(--font-sofia);
  font-weight: 700;
  font-size: 100px;
}

.text {
  margin: 42px 0 75px;
  max-width: 402px;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
}

.picblock {
  position: relative;
  width: 410px;
  height: 550px;
  margin-left: 80px;
}

.pic {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 410px;
  height: 550px;
  object-fit: cover;
  border-radius: 205px 205px 0px 0px;
}

.rec {
  width: 130px;
  height: 130px;
  position: absolute;
  z-index: 2;
}

.rec_top {
  background-color: #ff6250;
  right: 0;
  top: -20px;
  border-radius: 50%;
}

.rec_bottom {
  background-color: #f7d684;
  left: -63px;
  top: 350px;
}

.rotator {
  position: absolute;
  background-color: #2f80ed;
  height: 300px;
  width: 300px;
  z-index: 0;
  top: 260px;
  left: -10px;
  animation: rotation 30s linear infinite;
}

.button {
  display: block;
  border: none;
  width: 235px;
  padding: 25px 0;
  text-align: center;
  font-family: var(--font-sofia);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  background-color: #2d2d2d;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
  transition: opacity 0.3s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1282px) {
  .cover {
    padding: 78px 200px;
  }
}

@media screen and (max-width: 1100px) {
  .pic-block {
    margin-left: 70px;
  }

  .text {
    max-width: 300px;
  }
}

@media screen and (max-width: 1038px) {
  .picblock {
    margin-top: 80px;
    width: 268px;
    height: 360px;
    margin-left: 0;
  }

  .pic {
    width: 268px;
    height: 360px;
    border-radius: 205px 205px 0px 0px;
  }

  .rec {
    width: 85px;
    height: 85px;
  }

  .rec_top {
    right: -16px;
    top: -20px;
  }

  .rec_bottom {
    left: -12px;
    top: 250px;
  }

  .rotator {
    height: 150px;
    width: 150px;
    top: 216px;
  }

  .head {
    font-size: 68px;
    max-width: 300px;
  }

  .text {
    max-width: 300px;
  }
}

@media screen and (max-width: 800px) {
  .cover {
    padding: 78px 50px;
  }

  .text {
    max-width: 260px;
  }

  .block {
    margin: 80px auto 0;
  }
}

@media screen and (max-width: 670px) {
  .container {
    flex-direction: column;
  }

  .text {
    max-width: 402px;
  }
}

@media screen and (max-width: 418px) {
  .cover {
    padding: 45px 28px 33px;
    flex-direction: column;
  }

  .descblock {
    display: flex;
    flex-direction: column;
  }

  .head {
    margin: 0 0 20px;
    text-align: center;
    font-weight: 900;
    max-width: 100%;
  }

  .subhead {
    margin: 0 0 24px;
    text-align: center;
    max-width: 100%;
  }

  .text {
    text-align: center;
    max-width: 100%;
  }

  .picblock {
    margin: 80px auto 0;
    width: 268px;
    height: 360px;
  }

  .pic {
    width: 268px;
    height: 360px;
  }

  .button {
    align-self: center;
  }

  .button_footer {
    align-self: flex-start;
  }
}
