.container {
  padding: 0 100px 85px;
}

.title {
  margin: 0;
  padding: 56px 0;
  text-align: center;
  font-family: var(--font-sofia);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}

.cards {
  display: grid;
  row-gap: 64px;
  column-gap: 80px;
  grid-template-columns: 1fr 1fr;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20% 45px;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #2f80ed;
}

.link:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

.text {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.image {
  width: 76px;
  height: 76px;
}

@media screen and (min-width: 1282px) {
  .container {
    padding: 0 200px 85px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0 50px 85px;
  }

  .cards {
    display: grid;
    row-gap: 60px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 418px) {
  .container {
    padding: 0 28px 85px;
  }

  /* .cards {
		display: grid;
		row-gap: 60px;
		grid-template-columns: 1fr;
	} */
}
